.banner {
	background-image: linear-gradient(-225deg, rgba(255, 138, 142, 0.6) 0%, rgba(66, 155, 173, 0.5) 70%), url(../../images/lille.jpeg), url(../../images/lille.jpeg);
	color: white;
	padding: 150px 0px;
	background-size: cover;
	background-position: center;

}

.banner h1 {
	font-size: 50px;

}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	margin-bottom: 40px;
}
